<div class="slots_container">
  <div class="header"></div>
  <div class="main_content">
    <div class="main_img">
      <img src="../../assets/main-pic.png" alt="" />
    </div>

    <ng-container *ngFor="let item of categoryData()">
      <button (click)="onClickCategory(item)">{{ item.name }}</button>
    </ng-container>
  </div>
  @for (item of categoryData(); track item.name) {
  {{ item.name }}
  }
  <ng-container *ngFor="let item of Visibleslots()">
    {{ item.name }}
  </ng-container>
</div>
