<div class="slots_container">
  <div class="header"></div>
  <div class="main_content">
    <div class="main_img">
      <img src="../../assets/main-pic.png" alt="" />
    </div>
    <app-slot-catergory-menu
      (onClickCategoryItem)="onClickCategory($event)"
      [categoryList]="categoryList()"
      [selectedCategoryIndex]="selectedCategoryIndex()"
    />
    <app-slot-provider-menu
      [providersList]="providersList()"
      [selectedProviderIndex]="selectedProviderIndex()"
      (onClickProviderItem)="onClickProvider($event)"
    />
    <div class="visible_slots_container">
      @for (game of visibleGames();track $index) { @defer (on viewport){
      <div [ngClass]="{ first: $index === 0 }" class="game">
        <app-slot-game [game]="game" />
      </div>
      } @placeholder (minimum 200ms) {
      <div class="placeholder"></div>
      } @error { Something went wrong :( } }
    </div>
  </div>
</div>
